.category.edit-page 
  .card 
    .card-body
      %h1= t('categories.editing_category')

      = render 'form'

      = link_to t('common.show'), @category, class: 'btn-interaction'
      \|
      = link_to t('common.back'), categories_path, class: 'btn-interaction'
